<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бар Онлайн Заказ</title>
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}", rel="stylesheet" >
    <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</head>
<body>
    <header>
        <h1>Дом печати</h1>
        <p>Сделайте заказ онлайн!</p>
    </header>

    <main>
        <section class="menu">
        <form action="/order" method="post">
            <h2>Меню</h2>
            <ul>
                {% for product in products %}
                <li class="menu-item">
                    <div class="item-info">
                        <h3>
                            {{ product.name }}
                            {{ product.price +  '₽'}}
                        </h3>
                        <p>
                            {% for ingredient in product.ingredients %}
                                {{ingredient + ','}}
                            {% endfor %}
                        </p>
                    </div>
                    <button class="add-button" type="button" onclick="changeQuantity('item{{ product.id }}', -1)">-</button>
                    <input class ="count-item" type="text" id="item{{ product.id }}" name="{{ product.name }}" value="0" min="0">
                    <button class="add-button" type="button" onclick="changeQuantity('item{{ product.id }}', 1)">+</button>
                </li>
                {% endfor %}
            </ul>
            <button class="order-button" type="submit">Оформить заказ</button>
        </form>
        </section>
    </main>

    <footer>
        <p>Свяжитесь с нами: +7 123 456 7890</p>
    </footer>
</body>
</html>
