
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
    <title>Меню</title>
</head>
<body>
    <div class="denied">
        <h1>Меню доступно только на мобильных устройствах</h1>
    </div>
    <div class="header">
        <div class="menu">
            <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
            <label for="burger-checkbox" class="burger"></label>
            <ul class="menu-list">
                {% for category in categories %}
                    {% if category.subcategory == None %}
                    <li><a href="{{url_for('mainmodule.products', category_id=category.id)}}">
                        {{ category.name }}
                    </a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="names">
            <h2>Меню</h2>
        </div>
        <div class="names">
            <a href="{{url_for('mainmodule.order')}}" class="bar-title">
                <i class='bx bx-cart bx-md'></i>
            </a>
        </div>
    </div>

    <form action="{{ url_for('mainmodule.add_to_order') }}" method="POST" id="order-form">
        {% for subcategories, products in products_by_subcategories.items() %}
                <div class="content">
                    <div class="title">
                        <h2>{{ subcategories }}</h2>
                    </div>
                    <div class="cards">
                        {% for product in products %}
                            <div class="card">
                                <div class="first">
                                    <img src="../../static/images/image.jpg">
                                    <p>{{ product.name }}</p>
                                    {% if product.volume != None %}
                                        <p>{{ product.volume }}мл</p>
                                    {% endif %}
                                </div>
                                <div class="price">
                                    <p>{{ product.price }}P</p>
                                    <div class="counter">
                                        <button class="minus" type="button" onclick="changeQuantity('item{{ product.id }}', -1)">-</button>
                                        <input class="count" type="text" id="item{{ product.id }}" name="{{ product.name }}" value="0" min="0">
                                        <button class="plus" type="button" onclick="changeQuantity('item{{ product.id }}', 1)">+</button>
                                    </div>           
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
        {% endfor %}
        <input type="hidden" name="category_id" value="{{ category_id }}">
        <footer class="footer">
            <div class="footer-content">
                <button class="confirm-button" type="submit">Добавить в заказ</button>
            </div>
        </footer>
    </form>
    </form>
    <script>
        document.getElementById('order-form').addEventListener('submit', function(event) {
            event.preventDefault();

            const formData = new FormData(this);
            const categoryId = formData.get('category_id');
            const products = [];
            const price = formData.get('product.price');

            // Перебираем все продукты и собираем их id и количество
            formData.forEach((quantity, productName) => {
                if (productName !== 'category_id' && quantity > 0) {
                    products.push({
                        id: productName, // Используем название как id (можно заменить на реальные ids)
                        quantity: parseInt(quantity),
                        price: parseInt(price)
                    });
                }
            });

            // Создаём JSON объект
            const data = {
                category_id: categoryId,
                products: products
            };

            // Отправляем данные на сервер через fetch
            fetch('/add_to_order', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error);
                } else {
                    window.location.href = `/products/category/${categoryId}`;
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });

        //Изменение кол-ва продуктов в поле 
        function changeQuantity(itemId, change) {
            const item = document.getElementById(itemId);
            let quantity = parseInt(item.value);
            if (!isNaN(quantity) && quantity + change >= 0) {
                item.value = quantity + change;
            }
        }
    </script>
</body>
</html>