<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Онлайн Меню Бара</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>
<body>
    <div class="menu-container">
        <a href="{{ url_for('mainmodule.products', category_id=1)}}" class="menu-section-link">
            <div class="menu-section drinks">
                <div class="overlay">
                    <h1>Напитки</h1>
                </div>
            </div>
        </a>
        <a href="{{ url_for('mainmodule.products', category_id=7)}}" class="menu-section-link">
            <div class="menu-section kitchen">
                <div class="overlay">
                    <h1>Кухня</h1>
                </div>
            </div>
        </a>
    </div>
</body>
</html>
